/*
Base
*/
*{
    box-sizing: border-box;
}

h1, h2{
    text-align: center;
}

p{
    font-size: 1.3em;
}

img{
    max-width: 100%;
}

/*Layout*/

.container{
    width: 80%;
    margin:0 auto;
    background-color: #eee;
}

/*Header*/

header{
    height: 80px;
    padding: 10px;
    background-color: #95acc5;
}

nav ul{
   margin:0;
}

nav ul li{
    display:inline-block;
    padding: 5px;
    background-color: #fff;
    margin:5px;
}

nav a{
    text-decoration: none;
    color:black;
}

/*Main*/

main{
    background-color: #afd0eb;
    padding: 10px;
}

main aside{
    width:25%;
    background-color: orange;
}

main .content{
    width:50%;
    background-color: yellow;
}

main aside, main .content{
    float:left;
    padding: 50px;
}

/*Footer*/

footer{
    clear:both;
}